<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@400"
    />
    <link rel="stylesheet" href="..\css\index-adm.css" />
    <title>Hydria-ADM</title>
  </head>
  <body>
    <%- include("../partial/header-adm") %>

    <main>

      <h1 class="tittle">PAINEL DO ADMINISTRADOR</h1>
      <section class="admin-panel">
        <span class="stats-grid">
            <article class="stat-card highlighted">
                                <data value="<%= usuarios ? usuarios.length : 0 %>"><%= usuarios ? usuarios.length : 0 %></data>
                <p>Usuários</p>
            </article>

            <article class="stat-card">
                <data value="75">75</data>
                <p>Assinantes Newsletter</p>
            </article>

            <article class="stat-card">
                <data value="10">10</data>
                <p>Ongs registradas</p>
            </article>

            <article class="stat-card">
                <data value="500">500</data>
                <p>Mensagens enviadas</p>
            </article>
        </span>
    </section>

    <h2 class="topic-tittle">USUÁRIOS</h2>
    <section class="user-list-section">
      <span class="table-container">
          <table class="data-table users-table">
              <thead>
                  <tr>
                      <th>Nome</th>
                      <th>Email</th>
                      <th>Ação</th>
                  </tr>
              </thead>
              <tbody>
                  <% if (usuarios && usuarios.length > 0) { %>
                      <% usuarios.forEach(usuario => { %>
                          <tr>
                              <td><%= usuario.nome %></td>
                              <td><%= usuario.email %></td>
                              <td><a href="/adm/deletar-logico?id=<%= usuario.idUsuario %>" class="btn-02">excluir</a></td>
                          </tr>
                      <% }) %>
                  <% } else { %>
                      <tr>
                          <td colspan="3">Nenhum usuário encontrado.</td>
                      </tr>
                  <% } %>
              </tbody>
          </table>
      </span>
  </section>

  <h2 class="topic-tittle">ONGS</h2>
  <section class="ongs-list-section">
      <span class="table-container">
          <table class="data-table ongs-table">
              <thead>
                  <tr>
                      <th>Nome</th>
                      <th>Atividade</th>
                      <th>Localização</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>Água Viva</td>
                      <td>Distribuição de <br>Água e Saneamento</td>
                      <td>São Paulo</td>
                  </tr>
                  <tr>
                      <td>Água para Todos</td>
                      <td>Saneamento</td>
                      <td>Fortaleza(CE)</td>
                  </tr>
                  <tr>
                      <td>Saúde e Meio Ambiente</td>
                      <td>Qualidade da Água</td>
                      <td>Salvador(BA)</td>
                  </tr>
              </tbody>
          </table>
      </span>
  </section>
    </main>
    <%- include("../partial/footer") %> 
  </body>
</html>
